
{% extends ':forme:template.html.twig' %}

{% block bredcrumb %}

    <h1>
        Modifier une forme
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Paramètre de base </a></li>
        <li><a href="#">Forme</a></li>
        <li class="active"><a href="#">Modifier</a></li>
    </ol>
{% endblock %}
{% block content %}

    <div class="form-panel">
        {{ form_start(edit_form) }}
        <div class="row">
            <div class="form-group col-md-6">
                {{ form_row(edit_form.libelleForme ,{'attr':{'class':'form-control'}}) }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-2">
                <input class="btn btn-success" type="submit" value="Modifier"/>
            </div>
            <a type="button" class="btn btn-danger" href="{{ path('forme_index') }}">Retour a la liste</a>

        </div>
        {{ form_end(edit_form) }}
    </div>
{% endblock %}

