{% extends ':examen:template.html.twig' %}


{% block body %}
    <h1>Examan</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ examan.id }}</td>
            </tr>
            <tr>
                <th>Codeexamen</th>
                <td>{{ examan.codeExamen }}</td>
            </tr>
            <tr>
                <th>Libelleexamen</th>
                <td>{{ examan.libelleExamen }}</td>
            </tr>
            <tr>
                <th>Deleted</th>
                <td>{% if examan.deleted %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('examen_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('examen_edit', { 'id': examan.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
