{% extends ':examenparamedical:template.html.twig' %}


{% block bredcrumb %}

    <h1>
        Liste des examens para clinique
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Paramètre de base </a></li>
        <li class="active"><a href="#"> Examen Para Clinique </a></li>
    </ol>
{% endblock %}

{% block content %}
    <div class="col-md-12">
        <div class="row">
            <a type="button" class="btn btn-default pull-right" href="{{ path('examenparamedical_new') }}">
                Enregistrer un nouveau examen para clinique <i class="fa fa-plus"></i>
            </a>
        </div>
    </div>
    <label for="">&nbsp;</label>

    <div class="adv-table">
        <div id="hidden-table-info_wrapper" class="table table-responsive dataTables_wrapper form-inline"
             role="grid">
            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered"
                   id="tablelisteexamenpara" aria-describedby="hidden-table-info_info">
                <thead>
                <tr>
                    <th>Code examen paraclinique</th>
                    <th>Libelle examen paraclinique</th>
                    <th class="col-md-2">Actions</th>
                </tr>
                </thead>
                <tbody role="alert" aria-live="polite" aria-relevant="all" id="tableligneexamenpara">
                {% for examenParaMedical in examenParaMedicals %}
                    <tr>
                        <td>{{ examenParaMedical.codeExamenPara }}</td>
                        <td>{{ examenParaMedical.libelleExamenPara }}</td>
                        <td>
                            <a type="button" class="btn btn-primary"
                               href="{{ path('examenparamedical_edit', { 'id': examenParaMedical.id }) }}"><i class="fa fa-edit"></i></a>
                            <a data-id="{{ examenParaMedical.id }}" type="button" class="btn btn-danger deleted"><i class="fa fa-trash"></i></a>

                        </td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
    </div>


{% endblock %}


{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript" src="{{ asset('front/examenparaclinique/js/index.js') }}"></script>

    <script>
        var deletedExamenParaMedicalUrl = "{{ path('ajax_deleted_examen_para_medical') }}";
    </script>

{% endblock %}


