{% extends ':examenparamedical:template.html.twig' %}

{% block body %}
    <h1>Examenparamedical</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ examenParaMedical.id }}</td>
            </tr>
            <tr>
                <th>Codeexamenpara</th>
                <td>{{ examenParaMedical.codeExamenPara }}</td>
            </tr>
            <tr>
                <th>Libelleexamenpara</th>
                <td>{{ examenParaMedical.libelleExamenPara }}</td>
            </tr>
            <tr>
                <th>Deleted</th>
                <td>{% if examenParaMedical.deleted %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('examenparamedical_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('examenparamedical_edit', { 'id': examenParaMedical.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
