{% extends 'base.html.twig' %}


{% block title %}
    Cabinet Medical | Examen ParaMedical
{% endblock %}


{% block  javascripts %}
    {{ parent() }}
    <script>
        $("#exam-para-menu").addClass('active');
        $("#exam-para-menu").closest('.treeview').addClass('active');
    </script>
{% endblock %}