{% extends ':motif:template.html.twig' %}


{% block bredcrumb %}

    <h1>
        Liste des motifs
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Paramètre de base </a></li>
        <li class="active"><a href="#"> motif </a></li>
    </ol>
{% endblock %}

{% block content %}

    <div class="col-md-12">
        <div class="row">
            <a type="button" class="btn btn-default pull-right" href="{{ path('motif_new') }}">
                Enregistrer un nouveau motif <i class="fa fa-plus"></i>
            </a>
        </div>
    </div>
    <label for="">&nbsp;</label>

    <div class="adv-table">
        <div id="hidden-table-info_wrapper" class="table table-responsive dataTables_wrapper form-inline"
             role="grid">
            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered"
                   id="tablelistemotif" aria-describedby="hidden-table-info_info">
                <thead>
                <tr>
                    <th>Code motif</th>
                    <th>Libelle motif</th>
                    <th class="col-md-2">Actions</th>
                </tr>
                </thead>
                <tbody role="alert" aria-live="polite" aria-relevant="all" id="tablelignemotif">
                {% for motif in motifs %}
                    <tr>
                        <td>{{ motif.codeMotif }}</td>
                        <td>{{ motif.libelleMotif }}</td>
                        <td>
                            <a type="button" class="btn btn-primary"
                               href="{{ path('motif_edit', { 'id': motif.id }) }}"><i class="fa fa-edit"></i></a>
                            <a data-id="{{ motif.id }}" type="button" class="btn btn-danger deleted"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
    </div>


{% endblock %}


{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript" src="{{ asset('front/motif/js/index.js') }}"></script>

    <script>
        var deletedMotifUrl = "{{ path('ajax_deleted_motif') }}";
    </script>

{% endblock %}

