{% extends ':motif:template.html.twig' %}


{% block body %}
    <h1>Motif</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ motif.id }}</td>
            </tr>
            <tr>
                <th>Codemotif</th>
                <td>{{ motif.codeMotif }}</td>
            </tr>
            <tr>
                <th>Libellemotif</th>
                <td>{{ motif.libelleMotif }}</td>
            </tr>
            <tr>
                <th>Deleted</th>
                <td>{% if motif.deleted %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('motif_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('motif_edit', { 'id': motif.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
