{% extends 'base.html.twig' %}

{% block title %}
    Cabinet Medical | Motif
{% endblock %}


{% block  javascripts %}
    {{ parent() }}
    <script>
        $("#motif-menu").addClass('active');
        $("#motif-menu").closest('.treeview').addClass('active');
    </script>
{% endblock %}