{% extends 'base.html.twig' %}

{% block title %}
    Cabinet Medical | Posologie
{% endblock %}


{% block  javascripts %}
    {{ parent() }}
    <script>
        $("#posologie-menu").addClass('active');
        $("#posologie-menu").closest('.treeview').addClass('active');
    </script>
{% endblock %}