
{% extends ':patient:template.html.twig' %}

{% block bredcrumb %}

    <h1>
        Patient edit
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Paramètre de base </a></li>
        <li><a href="#">Patient</a></li>
        <li class="active"><a href="#">Modifier</a></li>
    </ol>
{% endblock %}
{% block content %}


    <div class="form-panel">
        {{ form_start(edit_form) }}
        <div class="row">
            <div class="form-group col-md-3">
                {{ form_row(edit_form.nomPatient ,{'attr':{'class':'form-control','autocomplete':'off'}}) }}
            </div>
            <div class="form-group col-md-3">
                {{ form_row(edit_form.prenomPatient ,{'attr':{'class':'form-control','autocomplete':'off'}}) }}
            </div>
            <div class="form-group col-md-3">
                {{ form_row(edit_form.dateNaisPatient ,{'attr':{'class':'form-control'}}) }}
            </div>
            <div class="form-group col-md-2">
                {{ form_row(edit_form.taille ,{'attr':{'class':'form-control'}}) }}
            </div>
            <div class="form-group col-md-1">
                {{ form_row(edit_form.assurePatient) }}
            </div>

        </div>
        <div class="row">
            <div class="form-group col-md-3">
                {{ form_row(edit_form.sexePatient ,{'attr':{'class':'form-control'}}) }}
            </div>
            <div class="form-group col-md-3">
                {{ form_row(edit_form.telPatient ,{'attr':{'class':'form-control','autocomplete':'off'}}) }}
            </div>
            <div class="form-group col-md-3">
                {{ form_row(edit_form.adressePatient ,{'attr':{'class':'form-control','autocomplete':'off'}}) }}
            </div>
            <div class="form-group col-md-3">
                {{ form_row(edit_form.persContact ,{'attr':{'class':'form-control','autocomplete':'off'}}) }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-3">
                {{ form_row(edit_form.medTraitant ,{'attr':{'class':'form-control'}}) }}
            </div>
            <div class="form-group col-md-3">
                {{ form_row(edit_form.profession ,{'attr':{'class':'form-control'}}) }}
            </div>
            <div class="form-group col-md-3">
                {{ form_row(edit_form.emailPatient ,{'attr':{'class':'form-control','autocomplete':'off'}}) }}
            </div>
            <div class="form-group col-md-3">
                {{ form_row(edit_form.situaFamiliale ,{'attr':{'class':'form-control'}}) }}
            </div>

        </div>
        <div class="row">
            <div class="form-group col-md-3">
                {{ form_row(edit_form.antFamili ,{'attr':{'class':'form-control'}}) }}
            </div>
            <div class="form-group col-md-3">
                {{ form_row(edit_form.antPercChir ,{'attr':{'class':'form-control'}}) }}
            </div>
            <div class="form-group col-md-3">
                {{ form_row(edit_form.antPerMedic ,{'attr':{'class':'form-control'}}) }}
            </div>
            <div class="form-group col-md-3">
                {{ form_row(edit_form.autres ,{'attr':{'class':'form-control'}}) }}
            </div>

        </div>
        <div class="row">
            <div class="form-group col-md-2">
                <input class="btn btn-success" type="submit" value="Modifier"/>
            </div>
            <a type="button" class="btn btn-danger" href="{{ path('patient_index') }}">Retour a la liste</a>

        </div>
        {{ form_end(edit_form) }}
    </div>


{% endblock %}

