{% extends ':patient:template.html.twig' %}

{% block bredcrumb %}

    <h1>
        Liste des Patients
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Paramètre de base </a></li>
        <li class="active"><a href="#"> Patient </a></li>
    </ol>
{% endblock %}

{% block content %}

    <div class="col-md-12">
        <div class="row">
            <a type="button" class="btn btn-default pull-right" href="{{ path('patient_new') }}">
                Enregistrer un nouveau patient <i class="fa fa-plus"></i>
            </a>
        </div>
    </div>

    <label for="">&nbsp;</label>

    <div class="adv-table">
        <div id="hidden-table-info_wrapper" class="table table-responsive dataTables_wrapper form-inline"
             role="grid">
            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered"
                   id="tablelistepatient" aria-describedby="hidden-table-info_info">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Telephone</th>
                    <th>Email</th>
                    <th>Sexe</th>
                    <th>Profession</th>
                    <th>Adresse</th>
                    <th>Type Patient</th>
                    <th class="col-md-1">Actions</th>
                </tr>
                </thead>
                <tbody role="alert" aria-live="polite" aria-relevant="all" id="tablelignepatient">
                {% for patient in patients %}
                    <tr>
                        <td>{{ patient.nomPatient }}</td>
                        <td>{{ patient.prenomPatient }}</td>
                        <td>{{ patient.telPatient }}</td>
                        <td>{{ patient.emailPatient }}</td>
                        <td>{{ patient.sexePatient }}</td>
                        <td>{{ patient.profession }}</td>
                        <td>{{ patient.adressePatient }}</td>
                        <td>{{ patient.typePatient.libelleTypePatient }}</td>
                        {#<td style="text-align: center">
                            <input type="checkbox"
                                    {% if (patient.assurePatient == true) %}
                                        checked
                                    {% endif %}
                                   disabled>

                        </td>#}
                        <td style="text-align: center">
                            <a type="button" class="btn btn-primary"
                               href="{{ path('patient_edit', { 'id': patient.id }) }}"><i class="fa fa-edit"></i></a>
                            {#<a data-id="{{ patient.id }}" type="button" class="btn btn-danger deleted"><i class="fa fa-trash"></i></a>#}
                       {##}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
    </div>


{% endblock %}


{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript" src="{{ asset('front/patient/js/index.js') }}"></script>

    <script>
        var deletedPatientUrl = "{{ path('ajax_deleted_patient') }}";
    </script>
{% endblock %}


