
{% extends ':patient:template.html.twig' %}

{% block bredcrumb %}

    <h1>
        Patient creation
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Enregistrement </a></li>
        <li class="active"><a href="#"> Patient </a></li>
    </ol>
{% endblock %}

{% block content %}


    <div class="form-panel">
        {{ form_start(form) }}
        <div class="row">
            <div class="form-group col-md-3">
                {{ form_row(form.nomPatient ,{'attr':{'class':'form-control','autocomplete':'off'}}) }}
            </div>
            <div class="form-group col-md-3">
                {{ form_row(form.prenomPatient ,{'attr':{'class':'form-control','autocomplete':'off'}}) }}
            </div>
            <div class="form-group col-md-3">
                {{ form_row(form.dateNaisPatient ,{'attr':{'class':'form-control'}}) }}
            </div>
            <div class="form-group col-md-1">
                {{ form_row(form.taille ,{'attr':{'class':'form-control'}}) }}
            </div>
            <div class="form-group col-md-2">
                {{ form_row(form.typePatient ,{'attr':{'class':'form-control'}}) }}
            </div>

        </div>
        <div class="row">
            <div class="form-group col-md-3">
                {{ form_row(form.sexePatient ,{'attr':{'class':'form-control'}}) }}
            </div>
            <div class="form-group col-md-3">
                {{ form_row(form.telPatient ,{'attr':{'class':'form-control','autocomplete':'off'}}) }}
            </div>
            <div class="form-group col-md-3">
                {{ form_row(form.adressePatient ,{'attr':{'class':'form-control','autocomplete':'off'}}) }}
            </div>
            <div class="form-group col-md-3">
                {{ form_row(form.persContact ,{'attr':{'class':'form-control','autocomplete':'off'}}) }}
            </div>


        </div>
        <div class="row">
            <div class="form-group col-md-3">
                {{ form_row(form.medTraitant ,{'attr':{'class':'form-control'}}) }}
            </div>
            <div class="form-group col-md-3">
                {{ form_row(form.profession ,{'attr':{'class':'form-control'}}) }}
            </div>
            <div class="form-group col-md-3">
                {{ form_row(form.emailPatient ,{'attr':{'class':'form-control','autocomplete':'off'}}) }}
            </div>
            <div class="form-group col-md-3">
                {{ form_row(form.situaFamiliale ,{'attr':{'class':'form-control'}}) }}
            </div>

        </div>
        <div class="row">
            <div class="form-group col-md-3">
                {{ form_row(form.antFamili ,{'attr':{'class':'form-control'}}) }}
            </div>
            <div class="form-group col-md-3">
                {{ form_row(form.antPercChir ,{'attr':{'class':'form-control'}}) }}
            </div>
            <div class="form-group col-md-3">
                {{ form_row(form.antPerMedic ,{'attr':{'class':'form-control'}}) }}
            </div>
            <div class="form-group col-md-2">
                {{ form_row(form.autres ,{'attr':{'class':'form-control'}}) }}
            </div>
            <div class="form-group col-md-1">
                {{ form_row(form.assurePatient) }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-2">
                <input class="btn btn-success" type="submit" value="Creer"/>
            </div>
            <a type="button" class="btn btn-danger" href="{{ path('patient_index') }}">Retour a la liste</a>

        </div>
        {{ form_end(form) }}
    </div>


{% endblock %}



