{% extends ':patient:template.html.twig' %}


{% block body %}
    <h1>Patient</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ patient.id }}</td>
            </tr>
            <tr>
                <th>Nompatient</th>
                <td>{{ patient.nomPatient }}</td>
            </tr>
            <tr>
                <th>Prenompatient</th>
                <td>{{ patient.prenomPatient }}</td>
            </tr>
            <tr>
                <th>Datenaispatient</th>
                <td>{% if patient.dateNaisPatient %}{{ patient.dateNaisPatient|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Telpatient</th>
                <td>{{ patient.telPatient }}</td>
            </tr>
            <tr>
                <th>Emailpatient</th>
                <td>{{ patient.emailPatient }}</td>
            </tr>
            <tr>
                <th>Sexepatient</th>
                <td>{{ patient.sexePatient }}</td>
            </tr>
            <tr>
                <th>Profession</th>
                <td>{{ patient.profession }}</td>
            </tr>
            <tr>
                <th>Assurepatient</th>
                <td>{% if patient.assurePatient %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Adressepatient</th>
                <td>{{ patient.adressePatient }}</td>
            </tr>
            <tr>
                <th>Medtraitant</th>
                <td>{{ patient.medTraitant }}</td>
            </tr>
            <tr>
                <th>Situafamiliale</th>
                <td>{{ patient.situaFamiliale }}</td>
            </tr>
            <tr>
                <th>Antpermedic</th>
                <td>{{ patient.antPerMedic }}</td>
            </tr>
            <tr>
                <th>Antpercchir</th>
                <td>{{ patient.antPercChir }}</td>
            </tr>
            <tr>
                <th>Antfamili</th>
                <td>{{ patient.antFamili }}</td>
            </tr>
            <tr>
                <th>Autres</th>
                <td>{{ patient.autres }}</td>
            </tr>
            <tr>
                <th>Deleted</th>
                <td>{% if patient.deleted %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('patient_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('patient_edit', { 'id': patient.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
