<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        {% block title %}

        {% endblock %}
    </title>

    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    {% block stylesheets %}
        <!-- Bootstrap 3.3.7 -->
        <link rel="stylesheet" href="{{ asset('template/bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
        <!-- Font Awesome -->
        <!-- Favicons -->
        <link href="{{ asset('favicon.ico') }}" rel="icon">
        <link rel="stylesheet" href="{{ asset('template/bower_components/font-awesome/css/font-awesome.css') }}">
        <!-- Ionicons -->
        <link rel="stylesheet" href="{{ asset('template/bower_components/Ionicons/css/ionicons.css') }}">
        <!-- Theme style -->
        <link rel="stylesheet" href="{{ asset('template/dist/css/AdminLTE.min.css') }}">
        <!-- AdminLTE Skins. Choose a skin from the css/skins
             folder instead of downloading all of them to reduce the load. -->
        <link rel="stylesheet" href="{{ asset('template/dist/css/skins/_all-skins.min.css') }}">
        <!-- Morris chart -->
        <link rel="stylesheet" href="{{ asset('template/bower_components/morris.js/morris.css') }}">
        <!-- jvectormap -->
        <link rel="stylesheet" href="{{ asset('template/bower_components/jvectormap/jquery-jvectormap.css') }}">
        <!-- Date Picker -->
        <link rel="stylesheet"
              href="{{ asset('template/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css') }}">
        <!-- Daterange picker -->
        <link rel="stylesheet"
              href="{{ asset('template/bower_components/bootstrap-daterangepicker/daterangepicker.css') }}">
        <!-- bootstrap wysihtml5 - text editor -->
        <link rel="stylesheet" href="{{ asset('template/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css') }}">
        {#DataTable CSS#}
        <link rel="stylesheet" type="text/css" href="{{ asset('template/datatables/datatables.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('template/styles.css') }}">
        {#ChosenSelect CSS#}
        <link rel="stylesheet" href="{{ asset('template/bower_components/select2/dist/css/select2.min.css') }}">
        {#DateTime picker CSS#}
        <link rel="stylesheet" href="{{ asset('template/datetimepicker/css/bootstrap-datetimepicker.min.css') }}">

        <!-- fullCalendar -->
        <link rel="stylesheet" href="{{ asset('template/bower_components/fullcalendar/dist/fullcalendar.min.css') }}">
        <link rel="stylesheet"
              href="{{ asset('template/bower_components/fullcalendar/dist/fullcalendar.print.min.css') }}"
              media="print">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>>
        <![endif]-->
    {% endblock %}
    <!-- Google Font
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    -->
</head>

<body class="hold-transition skin-blue sidebar-mini" onload="getTime()">
<div class="wrapper">

    <header class="main-header">
        {% block header %}

            {% include('template/header.html.twig') %}


        {% endblock %}
    </header>
    <div class="se-pre-con"></div>

    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="" class="img-circle imageemployerconnecter"
                         alt="User Image">
                </div>
                <div class="pull-left info">
                    <p class=""> {{ app.session.get('nom') }} {{ app.session.get('prenom') }} </p>
                    <a href="#"><i class="fa fa-circle text-success"></i> En ligne </a>
                </div>
            </div>

            <ul class="sidebar-menu" data-widget="tree">
                {% block sidemenu %}

                    {% include('template/sidemenu.html.twig') %}

                {% endblock %}
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>

    <section class="content-wrapper">
        <section class="content-header">

            {% block bredcrumb %}

            {% endblock %}

            <label for="">&nbsp;</label>

            <div class="col-md-12">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                {% for message in app.flashes('error') %}
                    <div class=" alert alert-danger">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>

            <div class="content">
                {% block content %}




                {% endblock %}

            </div>
        </section>


        <!-- Content Wrapper. Contains page content -->


        <!-- /.content-wrapper -->
    </section>

    {% block footer %}

        {{ include('template/footeur.html.twig') }}

    {% endblock %}

    <!-- Control Sidebar -->
    {% block sidebar %}

        {{ include('template/sidebar.html.twig') }}

    {% endblock %}

    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->
{% block javascripts %}
    <script src="{{ asset('template/js/jquery-2.1.4.min.js') }}"></script>
    <!--<script src="{{ asset('template/bower_components/jquery/dist/jquery.min.js') }}"></script>
    jQuery UI 1.11.4 -->
    <script src="{{ asset('template/bower_components/jquery-ui/jquery-ui.min.js') }}"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    <!-- Bootstrap 3.3.7 -->
    <script src="{{ asset('template/bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <!-- Morris.js charts
    <script src="{{ asset('template/bower_components/raphael/raphael.min.js') }}"></script>
    <script src="{{ asset('template/bower_components/morris.js/morris.min.js') }}"></script>-->
    <!-- Sparkline -->
    <script src="{{ asset('template/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js') }}"></script>
    <!-- jvectormap -->
    <script src="{{ asset('template/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js') }}"></script>
    <script src="{{ asset('template/plugins/jvectormap/jquery-jvectormap-world-mill-en.js') }}"></script>
    <!-- jQuery Knob Chart -->
    <script src="{{ asset('template/bower_components/jquery-knob/dist/jquery.knob.min.js') }}"></script>
    <!-- daterangepicker -->
    <script src="{{ asset('template/bower_components/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset('template/bower_components/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
    <!-- datepicker -->
    <script src="{{ asset('template/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="{{ asset('template/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js') }}"></script>
    <!-- Slimscroll -->
    <script src="{{ asset('template/bower_components/jquery-slimscroll/jquery.slimscroll.min.js') }}"></script>
    <!-- FastClick -->
    <script src="{{ asset('template/bower_components/fastclick/lib/fastclick.js') }}"></script>
    <!-- AdminLTE App -->
    <script src="{{ asset('template/dist/js/adminlte.min.js') }}"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes)
    <script src="{{ asset('template/dist/js/pages/dashboard.js') }}"></script>-->
    <!-- AdminLTE for demo purposes -->
    <script src="{{ asset('template/dist/js/demo.js') }}"></script>
    {#DataTableJs#}
    <script type="text/javascript" charset="utf8" src="{{ asset('template/datatables/datatables.js') }}"></script>
    {#Chosen Select#}
    <script src="{{ asset('template/bower_components/select2/dist/js/select2.full.min.js') }}"></script>
    {#DatePicker#}
    <!-- date-range-picker -->
    <script src="{{ asset('template/bower_components/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset('template/bower_components/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
    <!-- bootstrap datepicker -->
    <script src="{{ asset('template/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}"></script>
    <!-- sweetalert -->
    <script src="{{ asset('template/sweetalert/js/sweetalert.all.js') }}"></script>
    <!-- notify -->
    <script src="{{ asset('template/notify/js/notify.min.js') }}"></script>
    <!-- datetime picker -->
    <script src="{{ asset('template/datetimepicker/js/bootstrap-datetimepicker.min.js') }}"></script>
    <!-- fullCalendar -->
    <script src="{{ asset('template/bower_components/moment/moment.js') }}"></script>
    <script src="{{ asset('template/bower_components/fullcalendar/dist/fullcalendar.min.js') }}"></script>
    <!-- Select2 -->
    <script>

        $(window).load(function () {
            // Animate loader off screen
            setTimeout(function () {
                $(".se-pre-con").fadeOut("slow");
            }, 1000);
            //$(".se-pre-con").fadeOut("2000");
        });
        //Initialize Select2 Elements
        $('.select2').select2();
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success',
                cancelButton: 'btn btn-danger'
            },
            buttonsStyling: false
        });
        var cheminPhotoProfil = "{{ asset('template/dist/img/urlphoto') }}";

        {% if app.session('nom') is not null %}
        $('.imageemployerconnecter').attr('src', cheminPhotoProfil.replace('urlphoto', '{{ app.session.get('profilurl') }}'));
        {% endif %}

        function getTime() {
            var today = new Date();
            var h = today.getHours();
            var m = today.getMinutes();
            var s = today.getSeconds();
            // add a zero in front of numbers<10
            m = checkTime(m);
            s = checkTime(s);
            document.getElementById('heure').innerHTML = h + ":" + m + ":" + s;
            t = setTimeout(function () {
                getTime()
            }, 500);
        }

        function checkTime(i) {
            if (i < 10) {
                i = "0" + i;
            }
            return i;
        }

        // $('.sous-menu').on('click', function () {
        //     var select = $(this);
        //     var menuselect = $(this).closest('.treeview');
        //
        //
        //     $('.sous-menu').removeClass('active');
        //     $('.treeview').removeClass('active');
        //
        //     select.addClass('active');
        //     menuselect.addClass('active');
        // });
        //$('#calendar').
        //Date picker
        /*        $('#datepicker').datepicker({
                    format: 'dd/mm/yyyy',
                    defaultDate: new Date(),
                    todayHighlight:'TRUE',
                    autoclose: true,
                })*/


    </script>

{% endblock %}
</body>
</html>
