{% extends 'base.html.twig' %}

{% block body %}
    <h1>Fonctions list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Codefonction</th>
                <th>Libellefonction</th>
                <th>Actif</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fonction in fonctions %}
            <tr>
                <td><a href="{{ path('fonction_show', { 'id': fonction.id }) }}">{{ fonction.id }}</a></td>
                <td>{{ fonction.codeFonction }}</td>
                <td>{{ fonction.libelleFonction }}</td>
                <td>{% if fonction.actif %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('fonction_show', { 'id': fonction.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('fonction_edit', { 'id': fonction.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('fonction_new') }}">Create a new fonction</a>
        </li>
    </ul>
{% endblock %}
