{% extends 'base.html.twig' %}

{% block body %}
    <h1>Fonction</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ fonction.id }}</td>
            </tr>
            <tr>
                <th>Codefonction</th>
                <td>{{ fonction.codeFonction }}</td>
            </tr>
            <tr>
                <th>Libellefonction</th>
                <td>{{ fonction.libelleFonction }}</td>
            </tr>
            <tr>
                <th>Actif</th>
                <td>{% if fonction.actif %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('fonction_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('fonction_edit', { 'id': fonction.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
