{% extends 'base.html.twig' %}

{% block body %}
    <h1>Typepatients list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelletypepatient</th>
                <th>Deleted</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for typePatient in typePatients %}
            <tr>
                <td><a href="{{ path('typepatient_show', { 'id': typePatient.id }) }}">{{ typePatient.id }}</a></td>
                <td>{{ typePatient.libelleTypePatient }}</td>
                <td>{% if typePatient.deleted %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('typepatient_show', { 'id': typePatient.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('typepatient_edit', { 'id': typePatient.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('typepatient_new') }}">Create a new typePatient</a>
        </li>
    </ul>
{% endblock %}
