{% extends 'base.html.twig' %}

{% block body %}
    <h1>Typepatient</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ typePatient.id }}</td>
            </tr>
            <tr>
                <th>Libelletypepatient</th>
                <td>{{ typePatient.libelleTypePatient }}</td>
            </tr>
            <tr>
                <th>Deleted</th>
                <td>{% if typePatient.deleted %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('typepatient_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('typepatient_edit', { 'id': typePatient.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
