{% extends 'statistique/template.html.twig' %}

{% block bredcrumb %}

    <h1>
        Liste des statistiques sur une période
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-bar-chart"></i> Statistiques </a></li>
        <li class="active"><a href="#"> Périodique </a></li>
    </ol>
{% endblock %}

{% block content %}

    <div class="col-md-12">
        <div class="row" style="background-color: #3c8dbc">
            <div class="form-group col-md-4">
                <label>Periode:</label>

                <div class="input-group">
                    <button type="button" class="btn btn-default pull-right" id="daterange-btn">
                    <span>
                      <i class="fa fa-calendar"></i> Periode statistique
                    </span>
                        <i class="fa fa-caret-down"></i>
                    </button>
                </div>
            </div>
            <div class="col-md-2">
                <label>&nbsp;</label>
                <button type="button" id="consultationperiode" class="btn btn-block btn-success">
                    <i class="fa fa-search"></i> Rechercher</button>

            </div>
        </div>
    </div>
    <label for="">&nbsp;</label>

    <div class="adv-table">
        <div id="hidden-table-info_wrapper" class="table table-responsive dataTables_wrapper form-inline"
             role="grid">
            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered"
                   id="tablelistestatistiqueconsultation" aria-describedby="hidden-table-info_info">
                <thead>
                <tr>
                    <th class="col-md-2">Date Consultation</th>
                    <th class="col-md-4">Patient</th>
                    <th>Sexe</th>
                    <th class="col-md-1">Téléphone</th>
                    <th>Conduite a tenir</th>
                    <th>Consulter par</th>
                </tr>
                </thead>
                <tbody role="alert" aria-live="polite" aria-relevant="all" id="tablelignestatistiqueconsultation" style="align-content: center">

                </tbody>
            </table>
        </div>
    </div>



{% endblock %}


{% block javascripts %}

    {{ parent() }}

    <!-- date-range-picker -->
    <script src="{{ asset('template/bower_components/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset('template/bower_components/bootstrap-daterangepicker/daterangepicker.js') }}"></script>

    <script type="text/javascript" src="{{ asset('front/statistique/js/index.js') }}"></script>

    <script>
        var listConsultationPeriode = "{{ path('ajax_list_consultation_periode') }}";

        $(".stat-list-ordonnance").addClass('active');
        $(".stat-list-ordonnance").closest('.treeview').addClass('active');

    </script>

{% endblock %}