{% extends 'base.html.twig' %}

{% block title %}
    Cabinet Medical | Statistique
{% endblock %}

{% block  javascripts %}
    {{ parent() }}
    <script>
        $(".stat-list-periode").closest('.treeview').addClass('active');
    </script>
{% endblock %}