{% extends ':medicament:template.html.twig' %}


{% block body %}
    <h1>Medicament</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ medicament.id }}</td>
            </tr>
            <tr>
                <th>Codemedicament</th>
                <td>{{ medicament.codeMedicament }}</td>
            </tr>
            <tr>
                <th>Libellemedicament</th>
                <td>{{ medicament.libelleMedicament }}</td>
            </tr>
            <tr>
                <th>Deleted</th>
                <td>{% if medicament.deleted %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('medicament_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('medicament_edit', { 'id': medicament.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
