{% extends 'base.html.twig' %}


{% block title %}
    Cabinet Medical | Medicament
{% endblock %}


{% block  javascripts %}
    {{ parent() }}
    <script>
        $("#medicament-menu").addClass('active');
        $("#medicament-menu").closest('.treeview').addClass('active');
    </script>
{% endblock %}