{% extends ':dureetraitement:template.html.twig' %}

{% block bredcrumb %}

    <h1>
        Duree traitement creation
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Paramètre de base </a></li>
        <li><a href="#">Duree traitement</a></li>
        <li class="active"><a href="#">Nouveau</a></li>
    </ol>
{% endblock %}
{% block content %}


    <div class="form-panel">
        {{ form_start(form) }}
        <div class="row">
            <div class="form-group col-md-6">
                {{ form_row(form.libelleDureeTraitement ,{'attr':{'class':'form-control'}}) }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-2">
                <input class="btn btn-success" type="submit" value="Creer"/>
            </div>
            <a type="button" class="btn btn-danger" href="{{ path('dureetraitement_index') }}">Retour a la liste</a>

        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}