{% extends ':dureetraitement:template.html.twig' %}


{% block body %}
    <h1>Dureetraitement</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ dureeTraitement.id }}</td>
            </tr>
            <tr>
                <th>Libelledureetraitement</th>
                <td>{{ dureeTraitement.libelleDureeTraitement }}</td>
            </tr>
            <tr>
                <th>Deleted</th>
                <td>{% if dureeTraitement.deleted %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('dureetraitement_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('dureetraitement_edit', { 'id': dureeTraitement.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
