

{% extends ':user:template.html.twig' %}

{% block bredcrumb %}

    <h1>
        Créer un utilisateur
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Information sur le cabinet </a></li>
        <li class=""><a href="#"> Gestion des acteurs </a></li>
        <li class="active"><a href="#"> Modifier acteur </a></li>
    </ol>
{% endblock %}

{% block content %}

    <div class="form-panel">
        {{ form_start(edit_form) }}
        <div class="row">
            <div class="form-group col-md-3">
                {{ form_row(edit_form.nom ,{'attr':{'class':'form-control','autocomplete':'off'}}) }}
            </div>
            <div class="form-group col-md-3">
                {{ form_row(edit_form.prenom ,{'attr':{'class':'form-control','autocomplete':'off'}}) }}
            </div>
            <div class="form-group col-md-2">
                {{ form_row(edit_form.dateNaissance ,{'attr':{'class':''}}) }}
            </div>
            <div class="form-group col-md-1">
                {{ form_row(edit_form.actif) }}
            </div>

        </div>
        <div class="row">
            <div class="form-group col-md-3">
                {{ form_row(edit_form.tel ,{'attr':{'class':'form-control'}}) }}
            </div>
            <div class="form-group col-md-3">
                {{ form_row(edit_form.email ,{'attr':{'class':'form-control','autocomplete':'off'}}) }}
            </div>
            <div class="form-group col-md-3">
                {{ form_row(edit_form.photo ,{'attr':{'class':'form-control'}}) }}
            </div>

        </div>
        <div class="row">
            <div class="form-group col-md-3">
                {{ form_row(edit_form.login ,{'attr':{'class':'form-control'}}) }}
            </div>
            <div class="form-group col-md-3">
                {{ form_row(edit_form.mdp ,{'attr':{'class':'form-control'}}) }}
            </div>
            {#<div class="form-group col-md-3">#}
            {#{{ form_row(form.emailPatient ,{'attr':{'class':'form-control','autocomplete':'off'}}) }}#}
            {#</div>#}
            {#<div class="form-group col-md-3">#}
            {#{{ form_row(form.situaFamiliale ,{'attr':{'class':'form-control'}}) }}#}
            {#</div>#}

        </div>
        <div class="row">
            <div class="form-group col-md-2">
                <input class="btn btn-success" type="submit" value="Creer"/>
            </div>
            <a type="button" class="btn btn-danger" href="{{ path('user_index') }}">Retour a la liste</a>

        </div>
        {{ form_end(edit_form) }}
    </div>
{% endblock %}

