{% extends ':user:template.html.twig' %}


{% block bredcrumb %}

    <h1>
        Gestion des acteurs
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-cogs"></i> Information sur le cabinet </a></li>
        <li class="active"><a href="#"> Gestion des acteurs </a></li>
    </ol>
{% endblock %}

{% block content %}
    <div class="col-md-12">
        <div class="row">
            <a type="button" class="btn btn-default pull-right" href="{{ path('user_new') }}">
                Enregistrer un nouveau acteur <i class="fa fa-plus"></i>
            </a>
        </div>
    </div>
    <label for="">&nbsp;</label>

    <div class="adv-table">
        <div id="hidden-table-info_wrapper" class="table table-responsive dataTables_wrapper form-inline"
             role="grid">
            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered"
                   id="tablelisteuser" aria-describedby="hidden-table-info_info">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Login</th>
                    <th>Fonction</th>
                    <th>Telephone</th>
                    <th>Date de naissance</th>
                    <th>Email</th>
                    <th>Actif</th>
                    <th>Photo</th>
                    <th class="col-md-1">Actions</th>
                </tr>
                </thead>
                <tbody role="alert" aria-live="polite" aria-relevant="all" id="tableligneuser">
                {% for user in users %}
                    <tr>
                        {#<td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>#}
                        <td>{{ user.nom }}</td>
                        <td>{{ user.prenom }}</td>
                        <td>{{ user.login }}</td>
                        <td>{{ user.fonction.libelleFonction }}</td>
                        {#<td>{{ user.mdp }}</td>#}
                        <td>{{ user.tel }}</td>
                        <td>{% if user.dateNaissance %}{{ user.dateNaissance|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{{ user.email }}</td>
                        <td style="text-align: center">
                            <input type="checkbox"
                                    {% if (user.actif == true) %}
                                        checked
                                    {% endif %}
                                   disabled>

                        </td>
                        <td>{{ user.photo }}</td>
                        <td>
                            {#<a type="button" class="btn btn-primary"
                               href="{{ path('user_edit', { 'id': user.id }) }}"><i
                                        class="fa fa-edit"></i></a>
                            <a data-id="{{ user.id }}" type="button" class="btn btn-danger deleted"><i#}
                                        {#class="fa fa-trash"></i></a>#}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
    </div>

{% endblock %}


{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript" src="{{ asset('front/user/js/index.js') }}"></script>

    {#<script>#}
        {#var deletedPosologieUrl = "{{ path('ajax_deleted_posologie') }}";#}
    {#</script>#}
{% endblock %}