{% extends 'base.html.twig' %}

{% block title %}
    Cabinet Medical | Gestion des acteurs
{% endblock %}


{% block  javascripts %}
    {{ parent() }}
    <script>
        $(".gestion-acteur-menu").addClass('active');
        $(".gestion-acteur-menu").closest('.treeview').addClass('active');
    </script>
{% endblock %}