
{% extends ':parametre:template.html.twig' %}

{% block bredcrumb %}

    <h1>
        Gestion du cabinet
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Information sur le cabinet </a></li>
        <li class="active"><a href="#">Gestion du cabinet</a></li>
    </ol>
{% endblock %}

{% block content %}
    <div class="form-panel">
        {{ form_start(edit_form) }}
        <div class="row">
            <div class="form-group col-md-6">
                {{ form_row(edit_form.centreMedical ,{'attr':{'class':'form-control'}}) }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                {{ form_row(edit_form.centreMedicalAdresse ,{'attr':{'class':'form-control'}}) }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                {{ form_row(edit_form.centreMedicalContact ,{'attr':{'class':'form-control'}}) }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-2">
                <input class="btn btn-success" type="submit" value="Mettre a jour"/>
            </div>
            {#<a type="button" class="btn btn-danger" href="{{ path('parametre_edit') }}">Retour a la liste</a>#}

        </div>
        {{ form_end(edit_form) }}
    </div>
{% endblock %}
