
{% extends ':parametre:template.html.twig' %}

{% block bredcrumb %}

    <h1>
        Modifier un motif
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Paramètre de base </a></li>
        <li><a href="#">Motif</a></li>
        <li class="active"><a href="#">Modifier</a></li>
    </ol>
{% endblock %}
{% block content %}
    <h1>Parametres list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Centremedical</th>
                <th>Centremedicaladresse</th>
                <th>Centremedicalcontact</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for parametre in parametres %}
            <tr>
                <td><a href="{{ path('parametre_show', { 'id': parametre.id }) }}">{{ parametre.id }}</a></td>
                <td>{{ parametre.centreMedical }}</td>
                <td>{{ parametre.centreMedicalAdresse }}</td>
                <td>{{ parametre.centreMedicalContact }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('parametre_show', { 'id': parametre.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('parametre_edit', { 'id': parametre.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('parametre_new') }}">Create a new parametre</a>
        </li>
    </ul>
{% endblock %}
