
{% extends ':parametre:template.html.twig' %}

{% block bredcrumb %}

    <h1>
        Modifier un motif
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Paramètre de base </a></li>
        <li><a href="#">Motif</a></li>
        <li class="active"><a href="#">Modifier</a></li>
    </ol>
{% endblock %}
{% block content %}
    <h1>Parametre creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('parametre_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
