
{% extends ':parametre:template.html.twig' %}

{% block bredcrumb %}

    <h1>
        Modifier un motif
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Paramètre de base </a></li>
        <li><a href="#">Motif</a></li>
        <li class="active"><a href="#">Modifier</a></li>
    </ol>
{% endblock %}
{% block content %}
    <h1>Parametre</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ parametre.id }}</td>
            </tr>
            <tr>
                <th>Centremedical</th>
                <td>{{ parametre.centreMedical }}</td>
            </tr>
            <tr>
                <th>Centremedicaladresse</th>
                <td>{{ parametre.centreMedicalAdresse }}</td>
            </tr>
            <tr>
                <th>Centremedicalcontact</th>
                <td>{{ parametre.centreMedicalContact }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('parametre_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('parametre_edit', { 'id': parametre.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
