{% extends 'base.html.twig' %}

{% block title %}
    Cabinet Medical | Parametre
{% endblock %}


{% block  javascripts %}
    {{ parent() }}
    <script>
        $(".parametre-menu").addClass('active');
        $(".parametre-menu").closest('.treeview').addClass('active');
    </script>
{% endblock %}