{% extends ':diagnostic:template.html.twig' %}

{% block bredcrumb %}

    <h1>
        Liste des diagnostics
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Paramètre de base </a></li>
        <li class="active"><a href="#">Diagnostic </a></li>
    </ol>
{% endblock %}

{% block content %}

    <div class="col-md-12">
        <div class="row">
            <a type="button" class="btn btn-default pull-right" href="{{ path('diagnostic_new') }}">
                Enregistrer un nouveau diagnostic <i class="fa fa-plus"></i>
            </a>
        </div>
    </div>
    <label for="">&nbsp;</label>

    <div class="adv-table">
        <div id="hidden-table-info_wrapper" class="table table-responsive dataTables_wrapper form-inline"
             role="grid">
            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered"
                   id="tablelistediagnostic" aria-describedby="hidden-table-info_info">
                <thead>
                <tr>
                    <th>Code diagnostic</th>
                    <th>Libelle diagnostic</th>
                    <th class="col-md-2">Actions</th>
                </tr>
                </thead>
                <tbody role="alert" aria-live="polite" aria-relevant="all" id="tablelignediagnostic">
                {% for diagnostic in diagnostics %}
                    <tr>
                        <td>{{ diagnostic.codeDiagnostic }}</td>
                        <td>{{ diagnostic.libelleDiagnostic }}</td>
                        <td>
                            <a type="button" class="btn btn-primary"
                               href="{{ path('diagnostic_edit', { 'id': diagnostic.id }) }}"><i class="fa fa-edit"></i></a>
                            <a data-id="{{ diagnostic.id }}" type="button" class="btn btn-danger deleted"><i
                                        class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


{% endblock %}


{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript" src="{{ asset('front/diagnostic/js/index.js') }}"></script>

    <script>
        var deletedDiagnosticUrl = "{{ path('ajax_deleted_diagnostic') }}";
    </script>

{% endblock %}