{% extends ':diagnostic:template.html.twig' %}


{% block body %}
    <h1>Diagnostic</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ diagnostic.id }}</td>
            </tr>
            <tr>
                <th>Codediagnostic</th>
                <td>{{ diagnostic.codeDiagnostic }}</td>
            </tr>
            <tr>
                <th>Libellediagnostic</th>
                <td>{{ diagnostic.libelleDiagnostic }}</td>
            </tr>
            <tr>
                <th>Deleted</th>
                <td>{% if diagnostic.deleted %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('diagnostic_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('diagnostic_edit', { 'id': diagnostic.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
