{% extends 'statistique/template.html.twig' %}



{% block bredcrumb %}

    <h1>
        Liste des consultations
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-th"></i> Opérations </a></li>
        <li class="active"><a href="#"> Consultation </a></li>
    </ol>
{% endblock %}

{% block content %}

    <div class="col-md-12">
        <div class="row">
            <a type="button" class="btn btn-default pull-right" href="{{ path('consultation_new') }}">
                Nouvelle consultation <i class="fa fa-plus"></i>
            </a>
        </div>
    </div>
    <label for="">&nbsp;</label>

    <div class="adv-table">
        <div id="hidden-table-info_wrapper" class="table table-responsive dataTables_wrapper form-inline"
             role="grid">
            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered"
                   id="tablelisteconsultation" aria-describedby="hidden-table-info_info">
                <thead>
                <tr>
                    <th>Date Consultation</th>
                    <th>Patient</th>
                    <th>Conduite a tenir</th>
                    <th>Consulter par</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody role="alert" aria-live="polite" aria-relevant="all" id="tableligneconsultation">
                {% for consultation in consultations %}
                    <tr>
                        <td style="text-align: center">{{ consultation.dateConsul|date('d/m/Y H:i') }}</td>
                        <td class="col-md-4">{{ consultation.patient.nomPatient }} {{ consultation.patient.prenomPatient }}</td>
                        <td>{{ consultation.conduitATenir }}</td>
                        <td>{{ consultation.medecin.nom }} {{ consultation.medecin.prenom }}</td>
                        <td class="col-md-3">
                            <a type="button" class="btn btn-primary"
                               {#href="{{ path('consultation_new', { 'id': consultation.id }) }}"#}
                            >
                                <i class="fa fa-edit"></i></a>

                            <a data-id="{{ consultation.id }}" type="button"
                               class="btn btn-warning dupliqueconsultation"
                               data-toggle="modal"
                               data-target="#modal-dupliquer"><i class="fa fa-copy"></i>
                            </a>

                            <a data-id="{{ consultation.id }}" type="button"
                               class="btn btn-reddit detailconsultation"><i class="fa fa-book"></i>
                            </a>

                            <a data-id="{{ consultation.id }}" type="button"
                               class="btn btn-danger deletedconsultation"><i class="fa fa-trash"></i>
                            </a>
                            <a type="button" class="btn btn-success imprimerordonnance" data-id="{{ consultation.id }}">
                               {#href="{{ path('ajax_ordonnance', { 'id': consultation.id }) }}">#}
                                <i class="fa fa-download"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="modal-dupliquer" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLongTitle">Dupliquer consultation </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                        <div class="col-md-9">
                            <label>Pour :</label>
                            <select id="idpatientduplique" class="form-control select2" style="width: 100%;">
                                <option selected="selected" value="0">Aucun</option>
                                {% for patient in patients %}
                                    <option
                                            value="{{ patient.id }}">{{ patient.nomPatient }} {{ patient.prenomPatient }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label>&nbsp;</label>
                            <button type="button" class="btn btn-warning" id="btndupliquerconsultation"><i
                                        class="fa fa-copy "></i> Dupliquer
                            </button>
                        </div>

                    </div>
                    <hr>
                    <hr>
                </div>
                <div class="modal-footer">
                    {#<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>#}
                </div>
            </div>
        </div>
    </div>


{% endblock %}


{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript" src="{{ asset('front/consultation/js/index.js') }}"></script>


    <script>

        var deletedConsultationUrl = "{{ path('ajax_deleted_consultation') }}";
        var dupliqueConsultationUrl = "{{ path('ajax_duplique_consultation') }}";
        var detailConsultationUrl = "{{ path('ajax_detail_consultation') }}";
        var ordonnanceConsultationUrl = "{{ path('ajax_ordonnance' , { id : 'code' }) }}";

        $(".list-consultation-menu").addClass('active');
        $(".list-consultation-menu").closest('.treeview').addClass('active');

    </script>

{% endblock %}