{% extends 'consultation/template.html.twig' %}


{% block bredcrumb %}

    <h1>
        Liste des auscultations
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-th"></i> Opérations </a></li>
        <li class="active"><a href="#"> Auscultation </a></li>
    </ol>
{% endblock %}

{% block content %}

    <div class="col-md-12">
        <div class="row">
            <a type="button" class="btn btn-default" data-toggle="modal"
               data-target="#modal-new-patient">
                Nouveau patient <i class="fa fa-plus"></i>
            </a>
            <a type="button" class="btn btn-default pull-right" data-toggle="modal"
               data-target="#modal-begin-consul">
                Nouvelle auscultation <i class="fa fa-plus"></i>
            </a>
        </div>
    </div>
    <label for="">&nbsp;</label>

    <div class="adv-table">
        <div id="hidden-table-info_wrapper" class="table table-responsive dataTables_wrapper form-inline"
             role="grid">
            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered"
                   id="tablelistedebutconsultation" aria-describedby="hidden-table-info_info">
                <thead>
                <tr>
                    <th>Ticket</th>
                    <th>Date Consultation</th>
                    <th>Patient</th>
                    <th>Poids (Kg)</th>
                    <th>Température (°)</th>
                    <th>Tension (T)</th>
                    <th>Taille (M)</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody role="alert" aria-live="polite" aria-relevant="all" id="tabledebutligneconsultation">
                {% for consultation in consultations %}
                    <tr>
                        <td style="text-align: center">{{ consultation.id }}</td>
                        <td style="text-align: center">{{ consultation.dateConsul|date('d/m/Y H:i') }}</td>
                        <td class="col-md-4">{{ consultation.patient.nomPatient }} {{ consultation.patient.prenomPatient }}</td>
                        <td style="text-align: center">{{ consultation.poidsConsul }}</td>
                        <td style="text-align: center">{{ consultation.tempConsul }}</td>
                        <td style="text-align: center">{{ consultation.tensionConsul }}</td>
                        <td style="text-align: center">{{ consultation.tailleConsul }}</td>
                        <td style="align-content: center">
                            {#<a type="button" class="btn btn-primary" style="align-content: center"
                               href="{{ path('consultation_new', { 'id': consultation.id }) }}">
                                <i class="fa fa-edit"></i></a>#}
                            <a data-id="{{ consultation.id }}" type="button"
                               class="btn btn-danger deletedconsultation"><i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>



    <!-- Modal -->
    <div class="modal fade" id="modal-begin-consul" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLongTitle">Pré consultation </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row" style="align-content: center">
                        {#<div class="col-md-12">#}
                        {#<select id="idpatient" class="form-control select2" style="width: 100%;">#}
                        {#<option selected="selected" value="0">Patient a consulter</option>#}
                        {#{% for patient in patients %}#}
                        {#<option#}
                        {#value="{{ patient.id }}">{{ patient.nomPatient }} {{ patient.prenomPatient }}</option>#}
                        {#{% endfor %}#}
                        {#</select>#}
                        {#</div>#}
                        <div class="form-group col-md-4">
                            <label for="">&nbsp;</label>
                            <input id="nomrecherche" type="text" class="form-control" placeholder="Nom ...">
                        </div>
                        <div class="form-group col-md-5">
                            <label for="">&nbsp;</label>
                            <input id="prenomrecherche" type="text" class="form-control" placeholder="Prenom ...">
                        </div>
                        <div class="form-group col-md-1">
                            <label for="">&nbsp;</label>
                            <a type="button" class="btn btn-success" data-toggle="modal"
                               data-target="#modal-new-patient">
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>

                        <label for="">&nbsp;</label>
                        <div class="col-md-2" id="loaderecherchepatient">

                        </div>
                        <div class="col-md-12">
                            <div class="adv-table">
                                <div id="hidden-table-info_wrapper"
                                     class="table table-responsive dataTables_wrapper form-inline"
                                     role="grid">
                                    <table cellpadding="0" cellspacing="0" border="0"
                                           class="table table-striped table-bordered"
                                           id="tablepatientconsulte" aria-describedby="hidden-table-info_info">
                                        <thead>
                                        <tr class="hidden">
                                            <th class="col-md-4">Nom</th>
                                            <th class="col-md-5">Prenom</th>
                                            <th class="col-md-3">Téléphone</th>
                                        </tr>
                                        </thead>
                                        <tbody id="listepatient" role="alert" aria-live="polite" aria-relevant="all">


                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <input class="form-control" disabled type="text" placeholder=""
                                   id="nompatientselection" data-id-patient="">
                        </div>
                        <div class="col-md-5">
                            <input class="form-control" disabled type="text" placeholder=""
                                   id="prenompatientselection">
                        </div>
                        <div class="col-md-3">
                            <input class="form-control" disabled type="text" placeholder=""
                                   id="telpatientselection">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-3">
                            <input class="form-control" id="poids" type="number" step="0.01" min="1"
                                   placeholder="Poids (Kg)">
                        </div>
                        <div class="col-md-3">
                            <input class="form-control" id="temp" type="number" step="0.01" min="1"
                                   placeholder="Température (°)">
                        </div>
                        <div class="col-md-3">
                            <input class="form-control" id="tens" type="number" step="0.01" min="1"
                                   placeholder="Tension (T)">
                        </div>
                        <div class="col-md-3">
                            <input class="form-control" id="tail" type="number" step="0.01" min="1"
                                   placeholder="Taille (M)">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <textarea id="observa" class="form-control" rows="6" placeholder="Anamnèse"
                            ></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-primary" id="savepreconsul">Enregistrer</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="modal-new-patient" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLongTitle">Ajouter un patient</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">

                        <div class="col-md-5">
                            <input class="form-control" type="text" placeholder="Nom"
                                   id="nompatient">
                        </div>
                        <div class="col-md-5">
                            <input class="form-control" type="text" placeholder="Prénom"
                                   id="prenompatient">
                        </div>

                        <div class="col-md-2">
                            <button type="button" class="btn btn-success" id="enregistrernewpatient"><i
                                        class="fa fa-save"></i>
                            </button>
                        </div>
                        {#<div class="col-md-3">#}
                            {#<select class="form-control" id="sexepatient">#}
                                {#<option value="0">Sexe</option>#}
                                {#<option value="1">Masculin</option>#}
                                {#<option value="2">Feminin</option>#}
                            {#</select>#}
                        {#</div>#}
                        {#<div class="col-md-2">#}
                            {#<button type="button" class="btn btn-success" id="enregistrernewpatient"><i#}
                                        {#class="fa fa-save"></i>#}
                            {#</button>#}
                        {#</div>#}

                    </div>
                    <hr>
                    <div class="col-md-12">

                        <div class="col-md-5">
                            <select class="form-control" id="combosexepatient">
                                <option value="0">Sexe</option>
                                <option value="1">Masculin</option>
                                <option value="2">Feminin</option>
                            </select>
                        </div>

                        <div class="col-md-5">
                            <select id="combotypepatient" class="form-control select2" style="width: 100%;">
                                <option value="0">Type Patient</option>
                                {% for typePatient in typePatients %}
                                    <option
                                            value="{{ typePatient.id }}">{{ typePatient.libelleTypePatient }}</option>
                                {% endfor %}
                            </select>
                        </div>


                    </div>
                    <hr>
                    <hr>

                    <div class="col-md-12">

                        <div class="col-md-5">
                            <input type="text" class="form-control" placeholder="Téléphone" id="telpatient">
                            </input>
                        </div>
                        <div class="col-md-5">
                            <input type="text" class="form-control" placeholder="Adresse" id="adrespatient" autocomplete="off">
                            </input>
                        </div>

                    </div>

                    <hr>
                </div>
                <div class="modal-footer">
                    {#<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript" src="{{ asset('front/consultation/js/index.js') }}"></script>

    <script>
        var addPreConsultationAdd = "{{ path('ajax_add_pre_consultation') }}";
        var addPatientAdd = "{{ path('ajax_add_patient') }}";
        var listPatientUrl = "{{ path('ajax_list_patient') }}";
        var infoPatientUrl = "{{ path('ajax_info_patient') }}";

        $(".auscultation-menu").addClass('active');
        $(".auscultation-menu").closest('.treeview').addClass('active');
    </script>

{% endblock %}