
<div class="col-md-12">
    <div class="row">
        <a type="button" class="btn btn-default pull-right" data-toggle="modal"
           data-target="#modal-begin-consul">
            Nouvelle auscultation avec un nouveau patient <i class="fa fa-plus"></i>
        </a>
        <a type="button" class="btn btn-default pull-right" data-toggle="modal"
           data-target="#modal-begin-consul">
            Nouvelle auscultation <i class="fa fa-plus"></i>
        </a>
    </div>
</div>
<label for="">&nbsp;</label>

<div class="adv-table">
    <div id="hidden-table-info_wrapper" class="table table-responsive dataTables_wrapper form-inline"
         role="grid">
        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered"
               id="tablelistedebutconsultation1" aria-describedby="hidden-table-info_info">
            <thead>
            <tr>
                <th>Ticket</th>
                <th>Date Consultation</th>
                <th>Patient</th>
                <th>Poids (Kg)</th>
                <th>Température (°)</th>
                <th>Tension (T)</th>
                <th>Taille (M)</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody role="alert" aria-live="polite" aria-relevant="all" id="tabledebutligneconsultation">
            {% for consultation in consultations %}
                <tr>
                    <td style="text-align: center">{{ consultation.id }}</td>
                    <td style="text-align: center">{{ consultation.dateConsul|date('d/m/Y H:i') }}</td>
                    <td class="col-md-4">{{ consultation.patient.nomPatient }} {{ consultation.patient.prenomPatient }}</td>
                    <td style="text-align: center">{{ consultation.poidsConsul }}</td>
                    <td style="text-align: center">{{ consultation.tempConsul }}</td>
                    <td style="text-align: center">{{ consultation.tensionConsul }}</td>
                    <td style="text-align: center">{{ consultation.tailleConsul }}</td>
                    <td>
                        {#<a type="button" class="btn btn-primary" style="align-content: center"
                           href="{{ path('consultation_new', { 'id': consultation.id }) }}">
                            <i class="fa fa-edit"></i></a>#}
                        <a data-id="{{ consultation.id }}" type="button"
                           class="btn btn-danger deletedconsultation"><i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>