{% for listePatient in listePatients %}
    <tr class="select-patient" data-idpatient="{{ listePatient.id }}">
        <td class="nom col-md-4">{{ listePatient.nomPatient }}</td>
        <td class="prenom col-md-5">{{ listePatient.prenomPatient }}</td>
        <td class="tel">{{ listePatient.telPatient }}</td>
    </tr>
{% endfor %}