{% extends 'base.html.twig.html.twig' %}

{% block bredcrumb %}

    <h1>
        Consultation
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Paramètre de base </a></li>
        <li><a href="#">Opération </a></li>
        <li class="active"><a href="#">Consultation </a></li>
    </ol>
{% endblock %}

{% block content %}
    <div class="box box-primary col-md-12">

        <br>
        <label for="">&nbsp;</label>

        <div class="row col-md-4">
            {#<button type="button" class="btn btn-default pull-left" id="consulter" data-toggle="modal"#}
                    {#data-target="#modal-consultation">#}
                {#Consulter un patient <i class="fa fa-plus"></i>#}
            {#</button>#}
            <label> Ticket Patient </label>
        </div>
        <hr size=2 align=center width="100%" style="border-color: #0a0a0a">
        <label for="">&nbsp;</label>
        {#<div class="col-md-12">
            <div class="form-group pull-right">
                <button id="cacher-consultation" type="button" class="btn"> Cacher </button>
            </div>
        </div>#}

        <div id="menu-consultation">

            <div class="col-md-12">
                <div class="row">
                    <div class="form-group col-md-4 pull-left">
                        <label> La Date de Consultation </label>
                        {#<div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control pull-right" id="datepicker">
                        </div>#}
                        <input class="form-control" id="dateconsultation"
                               name="dateconsultation"
                               type="datetime-local">
                        <!-- /.input group -->
                    </div>

                    <div class="col-md-5 pull-right" style="border-style: groove">

                        <div class="form-group col-md-2">
                            <label for="" style="color: #4ca20b">Ajout</label>
                            <button id="ajoutmotif" type="button" class="btn btn-info" data-toggle="modal"
                                    data-target="#modal-motif">Motif
                            </button>
                        </div>

                        <div class="form-group col-md-3">
                            <label for="">&nbsp;</label>
                            <button id="ajoutexampara" type="button" class="btn btn-info" data-toggle="modal"
                                    data-target="#modal-examen-para">Exam Para</button>
                        </div>

                        <div class="form-group col-md-3">
                            <label for="">&nbsp;</label>
                            <button id="ajoutexamcli" type="button" class="btn btn-info" data-toggle="modal"
                                    data-target="#modal-examen-cli">Exam Clini</button>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="">&nbsp;</label>
                            <button id="ajoutdiagnostic" type="button" class="btn btn-info" data-toggle="modal"
                                    data-target="#modal-diagnostic">Diagnostic</button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        <label>Motif de consultation</label>
                        <select id="listmotif" class="form-control select2" multiple="multiple"
                                data-placeholder="Selectionner motif"
                                style="width: 100%; background-color: #0b97c4">
                            {% for motif in motifs %}
                                <option style="background-color: #0b97c4"
                                        value="{{ motif.id }}">{{ motif.libelleMotif }}</option>
                            {% endfor %}
                        </select>
                    </div>


                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Examen Paraclinique</label>
                            <select id="listexamenpara" class="form-control select2" multiple="multiple"
                                    data-placeholder="Selectionner examen para"
                                    style="width: 100%; background-color: #0b97c4">
                                {% for examenPara in examenParaCliniques %}
                                    <option style="background-color: #0b97c4"
                                            value="{{ examenPara.id }}">{{ examenPara.libelleExamenPara }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group col-md-3">
                        <label>Resultat Examen</label>
                        <textarea id="examresult" class="form-control" rows="1" placeholder="Enter ..."
                        ></textarea>
                    </div>

                </div>

                <div class="row">

                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Examen Clinique</label>
                            <select id="comboexamenclinique" class="form-control select2" style="width: 100%;">
                                <option selected="selected" value="0">Aucun</option>
                                {% for examen in examens %}
                                    <option
                                            value="{{ examen.id }}">{{ examen.libelleExamen }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group col-md-2">
                        <label>Resultat Examen</label>
                        <textarea id="examresultcli" class="form-control" rows="1" placeholder="Enter ..."
                        ></textarea>
                    </div>

                    <div class="form-group col-md-1">
                        <label for="">Ajout</label>
                        <button id="ajoutligneexammedical" type="button" class="btn btn-success"><i
                                    class="fa fa-plus"></i></button>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Diagnostic Medical</label>
                            <select id="listdiagnostic" class="form-control select2" multiple="multiple"
                                    data-placeholder="Selectionner diagnostic"
                                    style="width: 100%; background-color: #0b97c4">
                                {% for diagnostic in diagnostics %}
                                    <option style="background-color: #0b97c4"
                                            value="{{ diagnostic.id }}">{{ diagnostic.libelleDiagnostic }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    {# <div class="form-group col-md-3">
                         <label>Medicament</label>
                         <select class="form-control select2" style="width: 100%;">
                             <option selected="selected" value="0">Aucun</option>
                             {% for medicament in medicaments %}
                                 <option
                                         value="{{ medicament.id }}">{{ medicament.libelleMedicament }}</option>
                             {% endfor %}
                         </select>
                     </div>#}

                    <div class="form-group col-md-1">
                        <label for=""> </label>

                        <button data-toggle="modal" data-target="#modal-medicament" type="button"
                                class="btn btn-success">Ajout Medicam <i class="fa fa-plus"></i></button>
                    </div>

                </div>

                <div class="row">
                    <div class=" col-md-6">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">Liste des examens cliniques</h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body no-padding">
                                <table id="listeexamenclinique" class="table table-condensed"
                                       style="background-color: #d2d6de">
                                    <tr>
                                        <th class="col-md-4">Examen</th>
                                        <th>Resultat</th>
                                        <th style="width: 40px">Sup</th>
                                    </tr>
                                </table>
                            </div>
                            <!-- /.box-body -->
                        </div>
                    </div>
                    <div class=" col-md-6">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">Liste des traitements</h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body no-padding">
                                <table id="listetraitement" class="table table-condensed"
                                       style="background-color: #d2d6de">
                                    <tr>
                                        <th class="col-md-2">Medicament</th>
                                        <th>Forme</th>
                                        <th>Posologie</th>
                                        <th>Qte</th>
                                        <th style="width: 40px">Sup</th>
                                    </tr>
                                </table>
                            </div>
                            <!-- /.box-body -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <label for="">&nbsp;</label>
        <label for="">&nbsp;</label>
        <div id="detail-patient" class="col-md-12" style="background-color: #3c8dbc">
            <hr>
            <div class="col-md-10">

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Nom</label>
                            <input id="nom" type="text" class="form-control" placeholder="Enter ..." disabled="">
                        </div>
                        <div class="form-group">
                            <label>Age</label>
                            <input id="age" type="text" class="form-control" placeholder="Enter ..." disabled="">
                        </div>
                        <div class="form-group">
                            <label>Sexe</label>
                            <input id="sexe" type="text" class="form-control" placeholder="Enter ..." disabled="">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Prenom</label>
                            <input id="prenom" type="text" class="form-control" placeholder="Enter ..." disabled="">
                        </div>
                        <div class="form-group">
                            <label>Téléphone</label>
                            <input id="tel" type="text" class="form-control" placeholder="Enter ..." disabled="">
                        </div>
                        <div class="form-group">
                            <label>Situation familiale</label>
                            <input id="situafamili" type="text" class="form-control" placeholder="Enter ..."
                                   disabled="">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Antécédents Medicaux</label>
                            <textarea id="antmedi" class="form-control" rows="9" placeholder="Enter ..."
                                      disabled=""></textarea>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>AntécédentsChirurgicaux</label>
                            <textarea id="antchir" class="form-control" rows="9" placeholder="Enter ..."
                                      disabled=""></textarea>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">

                        <div class="form-group">
                            <label>Adresse</label>
                            <textarea id="adress" class="form-control" rows="2" placeholder="Enter ..."
                                      disabled=""></textarea>
                        </div>
                        <div class="form-group">
                            <label>Medecin traitant</label>
                            <input id="medetrait" type="text" class="form-control" placeholder="Enter ..."
                                   disabled="">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Antécédents Familiaux</label>
                            <textarea id="antfamili" class="form-control" rows="6" placeholder="Enter ..."
                                      disabled=""></textarea>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Autres</label>
                            <textarea id="autres" class="form-control" rows="6" placeholder="Enter ..."
                                      disabled=""></textarea>
                        </div>
                    </div>
                </div>


            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <label>Conduite a ténir</label>
                    <textarea id="conduiteatenir" class="form-control" rows="11" placeholder="Enter ..."
                              disabled=""></textarea>
                </div>
                {#<div class="checkbox">
                    <label>
                        <input id="checkboxordonnance" type="checkbox" disabled>Ordonnance</label>
                </div>
                <div class="checkbox">
                    <label>
                        <input id="checkboxemail" type="checkbox" disabled>Envoi par mail</label>
                </div>#}
                <button id="btnenregistrer1" type="button" class="btn btn-block btn-success" disabled>Enregistrer
                </button>
            </div>
        </div>

    </div>
    <br>





    <div class="modal fade" id="modal-consultation">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Patient a consulter</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="align-content: center">
                        <div class="form-group col-md-4">
                            <label for="">&nbsp;</label>
                            <input id="nomrecherche" type="text" class="form-control" placeholder="Nom ...">
                        </div>
                        <div class="form-group col-md-5">
                            <label for="">&nbsp;</label>
                            <input id="prenomrecherche" type="text" class="form-control" placeholder="Prenom ...">
                        </div>

                        <label for="">&nbsp;</label>
                        <div class="col-md-3" id="loaderecherchepatient">

                        </div>
                        <div class="col-md-12">
                            <div class="adv-table">
                                <div id="hidden-table-info_wrapper"
                                     class="table table-responsive dataTables_wrapper form-inline"
                                     role="grid">
                                    <table cellpadding="0" cellspacing="0" border="0"
                                           class="table table-striped table-bordered"
                                           id="tablepatientconsulte" aria-describedby="hidden-table-info_info">
                                        <thead>
                                        <tr>
                                            <th class="col-md-4">Nom</th>
                                            <th class="col-md-5">Prenom</th>
                                            <th class="col-md-3">Téléphone</th>
                                        </tr>
                                        </thead>
                                        <tbody id="listepatient" role="alert" aria-live="polite" aria-relevant="all">


                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                    <label for="">&nbsp;</label>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="nouveaupatient">Nouveau patient</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <!-- Modal -->
    <div class="modal fade" id="modal-motif" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLongTitle">Ajouter un motif</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <input class="form-control" type="text" placeholder="Code motif" id="codmotif">
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" type="text" placeholder="Libelle motif" id="libmotif">
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-success" id="enregistrermotif"><i
                                        class="fa fa-save"></i>
                            </button>
                        </div>

                    </div>
                    <hr>
                </div>
                <div class="modal-footer">
                    {#<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>#}
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="modal-examen-para" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLongTitle">Ajouter un examen para clinique</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <input class="form-control" type="text" placeholder="Code Examen Paramedical" id="codexamenpara">
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" type="text" placeholder="Libelle Examen Paramedical" id="libexamenpara">
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-success" id="enregistrerexamenpara"><i
                                        class="fa fa-save"></i>
                            </button>
                        </div>

                    </div>
                    <hr>
                </div>
                <div class="modal-footer">
                    {#<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>#}
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal-examen-cli" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLongTitle">Ajouter un examen clinique</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <input class="form-control" type="text" placeholder="Code Examen Clinique" id="codexamencli">
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" type="text" placeholder="Libelle Examen Clinique" id="libexamencli">
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-success" id="enregistrerexamencli"><i
                                        class="fa fa-save"></i>
                            </button>
                        </div>

                    </div>
                    <hr>
                </div>
                <div class="modal-footer">
                    {#<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>#}
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="modal-diagnostic" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLongTitle">Ajouter un diagnostic</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <input class="form-control" type="text" placeholder="Code Diagnostic" id="coddiagnostic">
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" type="text" placeholder="Libelle diagnostic" id="libdiagnostic">
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-success" id="enregistrerdiagnostic"><i
                                        class="fa fa-save"></i>
                            </button>
                        </div>

                    </div>
                    <hr>
                </div>
                <div class="modal-footer">
                    {#<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>#}
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="modal-medicament" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLongTitle">Traitement </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <label>Medicament </label>
                                <select id="combomedicament" class="form-control select2" style="width: 100%;">
                                    <option selected="selected" value="0">Aucun</option>
                                    {% for medicament in medicaments %}
                                        <option
                                                value="{{ medicament.id }}">{{ medicament.libelleMedicament }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-12">
                                <label>Forme </label>
                                <select id="comboforme" class="form-control select2" style="width: 100%;">
                                    <option selected="selected" value="0">Aucun</option>
                                    {% for forme in formes %}
                                        <option
                                                value="{{ forme.id }}">{{ forme.libelleForme }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-12">
                                <label>Posologie </label>
                                <select id="comboposologie" class="form-control select2" style="width: 100%;">
                                    <option selected="selected" value="0">Aucun</option>
                                    {% for posologie in posologies %}
                                        <option
                                                value="{{ posologie.id }}">{{ posologie.libellePosologie }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="col-md-12">
                                <label> Durée / Qté </label>
                                <select id="combodureeqte" class="form-control select2" style="width: 100%;">
                                    <option selected="selected" value="0">Aucun</option>
                                    {% for duree in durees %}
                                        <option
                                                value="{{ duree.id }}">{{ duree.libelleDureeTraitement }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-success" id="ajoutlignetraitement">Ajouter</button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}


{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript" src="{{ asset('front/consultation/js/index.js') }}"></script>

    <script>
        var listPatientUrl = "{{ path('ajax_list_patient') }}";
        var infoPatientUrl = "{{ path('ajax_info_patient') }}";
        var addMotifUrl = "{{ path('ajax_add_motif') }}";
        var addExamenParaUrl = "{{ path('ajax_add_exam_para') }}";
        var addExamenClinUrl = "{{ path('ajax_add_exam_cli') }}";
        var addDiagnosticUrl = "{{ path('ajax_add_diagnostic') }}";
        var addConsultationUrl = "{{ path('ajax_add_consultation') }}";

    </script>

{% endblock %}