

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ordonnance</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <style>
        .box {
            position: relative;
            border-radius: 3px;
            background: #ffffff;
            border-top: 3px solid #d2d6de;
            margin-bottom: 20px;
            width: 100%;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
            font-family: 'Book Antiqua', sans-serif;
        }

        .box-header:before, .box-body:before, .box-footer:before, .box-header:after, .box-body:after, .box-footer:after {
            content: " ";
            display: table;
            font-family: 'Book Antiqua', sans-serif;
        }

        .box-header > .fa, .box-header > .glyphicon, .box-header > .ion, .box-header .box-title {
            display: inline-block;
            font-size: 26px;
            margin: 0;
            line-height: 1;
            font-family: 'Book Antiqua', sans-serif;
        }

        h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
            font-family: 'Book Antiqua', sans-serif;
        }

        .no-padding {
            padding: 0 !important;
            font-family: 'Book Antiqua', sans-serif;
        }

        .box-body {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;
            padding: 10px;
            font-family: 'Book Antiqua', sans-serif;
        }

        .box-body > .table {
            margin-bottom: 0;
            font-family: 'Book Antiqua', sans-serif;
        }

        .table {
            width: 100%;
            max-width: 100%;
            margin-bottom: 20px;
            font-family: 'Book Antiqua', sans-serif;
        }

        table {
            background-color: transparent;
            border-collapse: collapse;
            border-spacing: 0;
            font-family: 'Book Antiqua', sans-serif;
        }

        tr {
            font-size: 20px;
            line-height: 50px;
            font-family: 'Book Antiqua', sans-serif;
        }

        .entete {
            font-size: 24px !important;
            text-align: left;
            font-family: 'Book Antiqua', sans-serif;
        }

        .lemedecin {
            alignment: center;
            font-family: 'Book Antiqua', sans-serif;
        }
    </style>

</head>

<body>

<div class="col-md-4" style="text-align: right">
    <h2 style=""> Date : {{ consultation.dateConsul|date('d/m/Y H:i') }} </h2>
</div>
<div class="col-md-4 lemedecin">
    <h2 style=""> {{ consultation.medecin.nom }} {{ consultation.medecin.prenom }} </h2>
    <h3 style=""> {{ consultation.medecin.fonction.libelleFonction }} </h3>
    <h3 style=""> {{ parametre.centreMedical }} </h3>
</div>

<br>
<div class="col-md-4">
    <h4 style=""> Nom et prenoms
        : {{ consultation.patient.nomPatient }} {{ consultation.patient.prenomPatient }} </h4>
    <h4 style=""> Age : {{ agePatient }}</h4>
</div>

<br>
<h1 style="text-align: center; border-style: solid "> Ordonnance </h1>
<br>

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Liste des medicaments</h3>
    </div>
    <br>
    <!-- /.box-header -->
    <div class="box-body no-padding">
        <table class="table table-condensed" style="border: #0a0a0a">
            <tbody style="border: #0a0a0a">
            <tr class="entete">
                <th>Medicament(s)</th>
                <th>Forme(s)</th>
                <th>Posologie(s)</th>
                <th>Durée(s)</th>
                <th>Qté(s)</th>
            </tr>
            {% for consulMedicament in consulMedicaments %}
                <tr>
                    <td>{{ consulMedicament.medicament.libelleMedicament }}</td>
                    <td>{{ consulMedicament.forme.libelleForme }}</td>
                    <td>{{ consulMedicament.posologie.libellePosologie }}</td>
                    <td>{{ consulMedicament.duree.libelleDureeTraitement }}</td>
                    <td style="align-content: center">{{ consulMedicament.qte }}</td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
</div>
</body>

<footer>
    <br>
    <br>
    <br>
    <br>

    <div class="row">
        <h2 style="text-align: left"
            class="codebar"> {{ barcode({code: codebarre, type: 'qrcode', format: 'html'}) }} </h2>
        <h2 style="text-align: right"> {{ consultation.medecin.nom }} {{ consultation.medecin.prenom }} </h2>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="row" style="border-top-style: solid">
        <h2 style="text-align: center"> {{ parametre.centreMedical }} - Adresse : {{ parametre.centreMedicalAdresse }} -
            Tel : {{ parametre.centreMedicalContact }} </h2>
    </div>
</footer>
</html>