{% extends 'base.html.twig' %}

{% block title %}
    Cabinet Medical | Consultation
{% endblock %}

{% block  javascripts %}
    {{ parent() }}
    <script>
        $(".consultation-menu").addClass('active');
    </script>
{% endblock %}