{% extends ':dashbord:template.html.twig' %}



{% block bredcrumb %}
   <h1>
        Accueil
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li ><a href="#"><i class="fa fa-book"></i> Accueil </a></li>
        <!--<li >Blank page</li>-->
    </ol>
{% endblock %}
{% block content %}

    <h1 style="text-align: center; color: #0b3e6f">
        BIENVENUE {{ app.session.get('fonction') | upper}} {{ app.session.get('nom') }} {{ app.session.get('prenom') }}
    </h1>
    </br>

    <!-- BAR CHART -->
    <div class="box box-info" hidden>
        <div class="box-header with-border">
            <h3 class="box-title" hidden> Point des consultations par jour</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="box-body chart-responsive">
            <canvas id="myChart" width="400" height="150"></canvas>

            {#<div class="chart" id="bar-chart" style="height: 300px;"></div>#}
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
    {#<div id="contenu">#}

    {#</div>#}


{% endblock %}



{% block javascripts %}
    {{ parent() }}


    {#<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>#}
    <script src="{{ asset('template/js/modernizr-2.8.3.min.js') }}"></script>
    <script src="{{ asset('template/chart/Chart.min.js') }}"></script>
    <script>

        $(".accueil").addClass('active');


        var ctx = document.getElementById('myChart');


        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi', 'Dimanche'],
                datasets: [{
                    label: 'Nbr consultation',
                    data: [12, 19, 3, 5, 2, 3, 1],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 120, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 120, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });


       /* // LINE CHART
        var line = new Morris.Line({
            element: 'line-chart',
            resize: true,
            data: [
                {y: '2011 Q1', item1: 2666},
                {y: '2011 Q2', item1: 2778},
                {y: '2011 Q3', item1: 4912},
                {y: '2011 Q4', item1: 3767},
                {y: '2012 Q1', item1: 6810},
                {y: '2012 Q2', item1: 5670},
                {y: '2012 Q3', item1: 4820},
                {y: '2012 Q4', item1: 15073},
                {y: '2013 Q1', item1: 10687},
                {y: '2013 Q2', item1: 8432}
            ],
            xkey: 'y',
            ykeys: ['item1'],
            labels: ['Item 1'],
            lineColors: ['#3c8dbc'],
            hideHover: 'auto'
        });*/

        $(window).load(function () {


            // Animate loader off screen
          /*  setTimeout(function () {
                $(".se-pre-con").fadeOut("slow");
            }, 1000);*/
            //$(".se-pre-con").fadeOut("2000");
        });

/*
        (function($){
            $.fn.datepicker.dates['fr'] = {
                days: ["dimanche", "lundi", "mardi", "mercredi", "jeudi", "vendredi", "samedi"],
                daysShort: ["dim.", "lun.", "mar.", "mer.", "jeu.", "ven.", "sam."],
                daysMin: ["dim.", "lun.", "mar.", "mer.", "jeu.", "ven.", "sam."],
                months: ["janvier", "février", "mars", "avril", "mai", "juin", "juillet", "août", "septembre", "octobre", "novembre", "décembre"],
                monthsShort: ["janv.", "févr.", "mars", "avril", "mai", "juin", "juil.", "août", "sept.", "oct.", "nov.", "déc."],
                today: "Aujourd'hui",
                monthsTitle: "Mois",
                clear: "Effacer",
                weekStart: 1,
                format: "dd/mm/yyyy"
            };
        }(jQuery));

        // The Calender
        $('#calendar').datepicker({
            language: 'fr',
            autoclose: true,
            todayHighlight: true,
        });*/



    </script>


{% endblock %}
