{% extends ':dashbord:template.html.twig' %}



{% block bredcrumb %}
    <h1>
        Tableau de Bord
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li ><a href="#"><i class="fa fa-dashboard"></i> Tableau de Bord </a></li>
        <!--<li >Blank page</li>-->
    </ol>
{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>{{ nbrConsultation }}</h3>

                    <p>Nombre consultation</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <a href="#" class="small-box-footer"> Plus d'information <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>

        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>{{ nbrPatient }}</h3>

                    <p>Nombre patient</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
                <a href="#" class="small-box-footer"> Plus d'information <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>

        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>{{ nbrMedicament }}</h3>

                    <p>Nombre medicament</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                <a href="#" class="small-box-footer"> Plus d'information <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>

        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-blue">
                <div class="inner">
                    <h3>{{ nbrExamen }}</h3>

                    <p>Nombre examen</p>
                </div>
                <div class="icon">
                    <i class="ion ion-shuffle"></i>
                </div>
                <a href="#" class="small-box-footer"> Plus d'information <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>


        <!-- ./col -->
        <div class="col-lg-6 col-xs-6 pull-right">
            <div class="box box-solid bg-green-gradient">
                <div class="box-header ui-sortable-handle" style="cursor: move;">
                    <i class="fa fa-calendar"></i>

                    <h3 class="box-title">Calendrier</h3>
                    <!-- tools box -->
                    <div class="pull-right box-tools">
                        <!-- button with a dropdown -->
                        <button type="button" class="btn btn-primary btn-sm" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-danger btn-sm" data-widget="remove"><i class="fa fa-times"></i>
                        </button>
                    </div>
                    <!-- /. tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <!--The calendar -->
                    <div id="calendar" style="width: 100%">
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <!-- ./col -->

    </div>

{% endblock %}



{% block javascripts %}
    {{ parent() }}

    {#<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>#}
    <script src="{{ asset('template/js/modernizr-2.8.3.min.js') }}"></script>
    <script>



        (function($){
            $.fn.datepicker.dates['fr'] = {
                days: ["dimanche", "lundi", "mardi", "mercredi", "jeudi", "vendredi", "samedi"],
                daysShort: ["dim.", "lun.", "mar.", "mer.", "jeu.", "ven.", "sam."],
                daysMin: ["dim.", "lun.", "mar.", "mer.", "jeu.", "ven.", "sam."],
                months: ["janvier", "février", "mars", "avril", "mai", "juin", "juillet", "août", "septembre", "octobre", "novembre", "décembre"],
                monthsShort: ["janv.", "févr.", "mars", "avril", "mai", "juin", "juil.", "août", "sept.", "oct.", "nov.", "déc."],
                today: "Aujourd'hui",
                monthsTitle: "Mois",
                clear: "Effacer",
                weekStart: 1,
                format: "dd/mm/yyyy"
            };
        }(jQuery));

        // The Calender
        $('#calendar').datepicker({
            language: 'fr',
            autoclose: true,
            todayHighlight: true,
        });



    </script>


{% endblock %}
