{% extends ':security:template.html.twig' %}

{% block bredcrumb %}

    <h1>
        Mon Profil
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-user"></i> Mon Profil </a></li>
    </ol>
{% endblock %}

{% block content %}
    <div class="form-panel">
        <form class="" action="{{ path('profil') }}" method="post">

            <label>Nom</label>
            <input type="text" name="nom" class="form-control" placeholder="nom" autofocus value="{{ nom }}">
            <label>Prenom</label>
            <input type="text" name="prenom" class="form-control" placeholder="prenom" value="{{ prenom }}">
            <label>Mot de passe</label>
            <input type="password" name="mdp" class="form-control" placeholder="Votre Mot de passe" value="{{ mdp }}">
            <label>Veuillez confirmer le Mot de passe</label>
            <input type="password" name="confmdp" class="form-control" placeholder="Confirmer votre Mot de passe" value="{{ mdp }}">
            <label>&nbsp;</label>
            <button class="btn btn-success btn-block" href="index.html" type="submit"><i class="fa fa-save"></i>
                Enregistrer
            </button>
        </form>
    </div>
{% endblock %}
