


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cabinet Medical | Se Connecter</title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="{{ asset('template/bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ asset('template/bower_components/font-awesome/css/font-awesome.css') }}">
    <!-- Ionicons -->
    <link rel="stylesheet" href="{{ asset('template/bower_components/Ionicons/css/ionicons.min.css') }}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ asset('template/dist/css/AdminLTE.min.css') }}">
    <link rel="stylesheet" href="{{ asset('template/styles.css') }}">


</head>

<body onload="getTime()">
<!-- **********************************************************************************************************************************************************
    MAIN CONTENT
    *********************************************************************************************************************************************************** -->
<div id="login-page">
    <div class="container">
        <form class="form-login" action="{{ path('login') }}" method="post">
            <h2 class="form-login-heading">connectez-vous !</h2>
            <div class="login-wrap">
                <input type="text" name="login" class="form-control" placeholder="Votre Pseudo" autofocus>
                <br>
                <input type="password" name="mdp" class="form-control" placeholder="Votre Mot de passe">
                <label>&nbsp;</label>
                <button class="btn btn-theme btn-block" href="index.html" type="submit"><i class="fa fa-lock"></i> Se
                    Connecter
                </button>
                <hr>
                <div class="centered" style="text-align: center"><b style="color: red">{{ error }}</b></div>
                <div id="showtime"></div>
            </div>
            {##}
        </form>
    </div>
    </form>
</div>
</div>
<script src="{{ asset('template/bower_components/jquery/dist/jquery.min.js') }}"></script>
<!-- Bootstrap 3.3.7 -->
<script src="{{ asset('template/bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<!--BACKSTRETCH-->
<script src="{{ asset('template/dist/js/jquery.backstretch.min.js') }}"></script>

<script>
    $.backstretch("../template/dist/img/poster-mockup-2853828_1920.jpg", {
        speed: 500
    });
</script>
<script>
    function getTime() {
        var today = new Date();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        // add a zero in front of numbers<10
        m = checkTime(m);
        s = checkTime(s);
        document.getElementById('showtime').innerHTML = h + ":" + m + ":" + s;
        t = setTimeout(function() {
            getTime()
        }, 500);
    }

    function checkTime(i) {
        if (i < 10) {
            i = "0" + i;
        }
        return i;
    }
</script>
</body>

</html>

