{% extends 'base.html.twig' %}

{% block title %}
    Cabinet Medical | Mon Profil
{% endblock %}


{% block  javascripts %}
    {{ parent() }}
    <script>
        $(".profil-menu").addClass('active');
    </script>
{% endblock %}