<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 1.0.0
    </div>
    <strong>Copyright &copy; 2019-2020 <a href=""></a>.</strong> Tous droits
    réservés.
</footer>