<li class="header">LES MENUS</li>

<li class="accueil">
    <a href="{{ path('homepage') }}">
        <i class="fa fa-book"></i> <span>Accueil</span>
    </a>
</li>


<li class="treeview">
    <a href="#">
        <i class="fa fa-floppy-o"></i> <span> Enregistrement </span>
        <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
    </a>
    <ul class="treeview-menu">
        <li class="patient-menu"><a href="{{ path('patient_index') }}"><i
                        class="fa fa-align-left"></i> Du patient </a>
        </li>
        <li class="auscultation-menu"><a href="{{ path('consultation_debut_index') }}"><i
                        class="fa fa-align-left"></i> Prise des constantes </a>
        </li>
        {#<li><a href="../forms/advanced.html"><i class="fa fa-circle-o"></i> Detail / ordonnance </a></li>#}
    </ul>
</li>

{% if app.session.get('codefonction') == "med" or app.session.get('codefonction') == "medchef"%}
<li class="consultation-menu">
    <a href="{{ path('consultation_new') }}">
        <i class="fa fa-th"></i> <span>Consultation</span>
    </a>
</li>

<li class="treeview">
    <a href="#">
        <i class="fa fa-bar-chart"></i> <span> Statistiques </span>
        <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
    </a>
    <ul class="treeview-menu">
        <li class="stat-list-periode"><a href="{{ path('consultation_statistique_index') }}"><i
                        class="fa fa-circle-o"></i> Sur une période </a>
        </li>
        <li class="stat-list-ordonnance"><a href="{{ path('consultation_index') }}"><i
                        class="fa fa-circle-o"></i> Ordonnance </a>
        </li>
        {#<li><a href="../forms/advanced.html"><i class="fa fa-circle-o"></i> Detail / ordonnance </a></li>#}
    </ul>
</li>

    {% if app.session.get('codefonction') == "medchef" %}
    <li class="treeview">
        <a href="#">
            <i class="fa fa-cogs"></i> <span> Information du cabinet </span>
            <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
        </a>
        <ul class="treeview-menu">
            <li class="gestion-acteur-menu"><a href="{{ path('user_index') }}"><i
                            class="fa fa-align-left"></i> Gestion des acteurs </a>
            </li>
            <li class="parametre-menu"><a href="{{ path('parametre_edit', { 'id': 1 }) }}"><i
                            class="fa fa-align-left"></i> Gestion du cabinet </a>
            </li>
            {#<li><a href="../forms/advanced.html"><i class="fa fa-circle-o"></i> Detail / ordonnance </a></li>#}
        </ul>
    </li>
    {%endif%}
{%endif%}
<li class="profil-menu">
    <a href="{{ path('profil') }}">
        <i class="fa fa-user profil-menu"></i> <span>Mon profil</span>
    </a>
</li>
