<li class="header">LES MENUS</li>

<li class="treeview">
<li class="dashbord-menu">
    <a href="{{ path('homepage') }}"><i class="fa fa-dashboard"></i> <span> Tableau de Bord </span> </a>
</li>
</li>

<li class="treeview">
    <a href="#">
        <i class="fa fa-edit"></i> <span>Parametre de base</span>
        <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
    </a>
    <ul class="treeview-menu">
        <li id="patient-menu"><a href="{{ path('patient_index') }}"><i class="fa fa-circle-o"></i> Patient </a></li>
        <li id="diagnostic-menu"><a href="{{ path('diagnostic_index') }}"><i class="fa fa-circle-o"></i> Diagnostic </a>
        </li>
        <li id="examen-menu"><a href="{{ path('examen_index') }}"><i class="fa fa-circle-o"></i> Examen </a></li>
        <li id="exam-para-menu"><a href="{{ path('examenparamedical_index') }}"><i class="fa fa-circle-o"></i> Examen
                ParaClinique</a></li>
        <li id="medicament-menu"><a href="{{ path('medicament_index') }}"><i class="fa fa-circle-o"></i> Medicament </a>
        </li>
        <li id="motif-menu"><a href="{{ path('motif_index') }}"><i class="fa fa-circle-o"></i> Motif </a></li>
        <li id="forme-menu"><a href="{{ path('forme_index') }}"><i class="fa fa-circle-o"></i> Forme </a></li>
        <li id="posologie-menu"><a href="{{ path('posologie_index') }}"><i class="fa fa-circle-o"></i> Posologie </a>
        </li>
        <li id="duree-menu"><a href="{{ path('dureetraitement_index') }}"><i class="fa fa-circle-o"></i> Duree </a></li>
    </ul>
</li>

<li class="treeview">
    <a href="#">
        <i class="fa fa-th"></i> <span>Opérations</span>
        <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
    </a>
    <ul class="treeview-menu">

        {% if app.session.get('fonction') == "Assistante" %}
            <li class="auscultation-menu"><a href="{{ path('consultation_debut_index') }}"><i class="fa fa-circle-o"></i>
                    Auscultation </a></li>
        {% endif %}

        {% if app.session.get('fonction')  == "Medecin" %}
            <li class="consultation-menu"><a href="{{ path('consultation_new') }}"><i class="fa fa-circle-o"></i>
                    Consultation </a></li>
            <li class="list-consultation-menu"><a href="{{ path('consultation_index') }}"><i class="fa fa-circle-o"></i>
                    List des consultations </a></li>
        {% endif %}
    </ul>
</li>

<li class="treeview">
    <a href="#">
        <i class="fa fa-bar-chart"></i> <span> Statistiques </span>
        <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
    </a>
    <ul class="treeview-menu">
        <li class="stat-list-periode"><a href="{{ path('consultation_statistique_index') }}"><i
                        class="fa fa-circle-o"></i> Consultation sur une période </a>
        </li>
        {#<li><a href="../forms/advanced.html"><i class="fa fa-circle-o"></i> Detail / ordonnance </a></li>#}
    </ul>
</li>

